body{
  padding: 50px;
  margin: 20px;
}

.topheading{
  display: inline-block;
  width: 100%;
  margin-left: 1%;
  margin-right: 1%;
  padding: 2%;
}

#projecttitle{
  display:inline-block;
  width: 20%;
  padding: 0px;
  margin: 0px;
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
}

#login {
  position: absolute;
  width: 20%;
  margin:1%;
  padding: 2%;
  right: 10px;
  text-align: right;
}

.headingandcontent{
  width: 75%;
  margin: auto;
  padding-left:0%;
  padding-right:0%;
}

.heading{
  display: inline-block;
  width: 30%;
  margin: 1.5%;
  padding: 0px;

  text-align: center;
  font-size: 20px;
}

/*#heading_one{
  font-style: oblique;
  text-align: left;
}

#heading_two{
  align-items: center;
  font-family: fantasy;
}

#heading_three{
  text-align: right;
}*/

.content{
  text-align: justify;
  font-weight: normal;
}

#imageandslogan{
  position: relative;
  width:100%;
  margin: 0px;
  margin-top: 2%;
  margin-bottom: 20px;
  background-image: URL("http://www.commonplaces.com/hs-fs/hub/203683/file-3052987960-jpg/blog-files/smartphone-world-twitter.jpg?t=1479328305645&width=1280&name=smartphone-world-twitter.jpg");
  background-size: cover;
  height: 650px;
}

#slogan{
  position: absolute;
  width: 100%;
  top:82%;
  left:57%;
  font-size: 32px;
  font-weight: bold;
  color: white;
}

.copyright{
  position: fixed;
  bottom: 5px;
  text-align: center;
  width: 100%;
  left: 0px;
  margin: 0px;
  padding: 0px;
}
